/*Clases se llaman con . ids se llaman con #*/
/*Reset básico*/
* {
    margin: 1%;
    padding: 0px;
    box-sizing: border-box;
}

/*Estido del header*/
header {
    text-align: center;
}
header .logo img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
}
header .logo-nombre h1 {
    text-align: center;
    margin-top: 5px;
}

/*Estilo del body*/

.collapsed {
    background-color: rgb(244, 244, 244);
}



/*Estilo de share-your trades con el uso de flex y pseudoclases*/
.img-share {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan en varias líneas en dispositivos más pequeños */
    justify-content: space-between; /* Ajusta el espacio entre las imágenes */
}
.imagen-trade1 {
    flex: 1; /* Hace que las imágenes se expandan para ocupar el espacio disponible */
    width: 40%;
    margin: 10px; /* Espacio entre las imágenes */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra alrededor del borde */
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
}
/*Para que se agranden las fotos al acercar el mouse*/
.imagen-trade1:hover {
    transform: scale(1.2)
}
.imagen-trade2 {
    flex: 1; /* Hace que las imágenes se expandan para ocupar el espacio disponible */
    width: 40%;
    margin: 10px; /* Espacio entre las imágenes */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra alrededor del borde */
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
}
.imagen-trade2:hover {
    transform: scale(1.2)
}
.imagen-trade3 {
    flex: 1; /* Hace que las imágenes se expandan para ocupar el espacio disponible */
    width: 40%;
    margin: 10px; /* Espacio entre las imágenes */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra alrededor del borde */
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
}
.imagen-trade3:hover {
    transform: scale(1.2)
}
.imagen-trade4 {
    flex: 1; /* Hace que las imágenes se expandan para ocupar el espacio disponible */
    width: 40%;
    margin: 10px; /* Espacio entre las imágenes */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Sombra alrededor del borde */
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
}
.imagen-trade4:hover {
    transform: scale(1.2)
}
footer {
    display: block; /*Para que ocupe todo el espacio*/
    background-color: azure;
    border: 1px solid black;
}
footer a{
    /*Volviéndolo responsive*/
    text-decoration: none;
    color: black;
    display: inline-block;
    gap: 500px;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    flex: 1; /*Para que cada enlace ocupe el mismo espacio*/
}
.row {
    margin: 4%;
}
.col {
    margin-right: 4%;
    margin-left: 4%;
}
.col a{
    text-decoration: none;
}
/*Estilos de share-your-blog*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
}
.grid-item h2 {
    margin-bottom: 10px;
}
.grid-item:hover {
    transform: scale(1.2)
}
.subtitulo {
    text-align: center;
    text-justify: center;
}

@media screen and (max-width: 240px) {
    .accordion-button {
        display: block;
    }
    .row {
        flex-direction: column;
        margin: 0;
    }
    .col {
        width: 100%;
        margin: 0;
    }
    .grid-container {
        width: 50%;
    }
    .grid-item {
        width: 50%;
        font-size: 45%;
    }
}