// Dejo este archivo sin mixin para hacer la comparación entre blogs y shares respecto al orden, además al ser poca información no consideré muy útil usar mixins o extends
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out; /*para que el efecto del hover sea más progresivo*/
    transition-property: transform;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    transition-delay: 5ms;
    &:hover {
        transform: scale(1.2)
    }
    h2 {
        margin-bottom: 10px;
    }
}
.subtitulo {
    text-align: center;
    text-justify: center;
}